<div class="main">

  <div class="about-header">
    <div class="about-header-title">
      Last Task
    </div>
    Last Task es un proyecto de fin de grado ideado con el fin de presentar una solución para aquellas personas que no
    dispongan del tiempo suficiente para organziar sus proyectos.
  </div>



  <div class="about-quote">"Last Task te regala tiempo"</div>
  <div class="about-body">
    La idea surgió al observar en una de mis amistades, que a medida que encontraba mas proyectos como desarrollador freelancer, no daba abasto con la organizacion
    de sus proyectos. Por lo tanto se me ocurrió que seria de gran ayuda tanto para el como para muchas otras personas
    tener una herramienta que permita tener todo en un mismo sitio.
  </div>
</div>