<div class="main">

  <div class="about-header">
    <div class="about-header-title">
      Last Task
    </div>
    Last Task es un proyecto de fin de grado ideado con el fin de proporcionar una herramienta que ayude a todas
    aquellas personas que busquen tener todo su trabajo organizado en un mismo sitio.
  </div>



  <div class="about-quote">"Last Task te regala tiempo"</div>
  <div class="about-body">
    <p>¿Como surgio la idea?</p>
    <p>Un día te encuentras charlando con un amigo y te cuenta que esta desbordado con su trabajo y que le gustaría
      tener algo que le ayude a organizar mejor todos sus proyectos y no tener que ir apuntándose las cosas en mil
      sitios diferentes.</p>
    <p>Ese mismo día te quedas pensando y se te ocurre la idea de crearlo para que tanto el como otras personas en su
      misma situación puedan aprovecharlo.</p>

  </div>
</div>