<nav *ngIf="!isLogin">
  <img [src]="'assets/img/logo.png'" alt="" srcset="">

  <div class="nav-item" [routerLink]="['/home']">
    <div>Inicio </div>
  </div>

  <div class="nav-item" [routerLink]="['home','about']">
    <div>Quienes somos</div>
  </div>
  <div fxLayoutAlign="center center">
    <div class="vl">

    </div>
  </div>
  <div class="user">
    <i class="fa fa-user-circle-o" aria-hidden="true"></i>
    <span>{{getUserName()}}</span>
  </div>



    <div (click)="logout()" class="nav-item last">
      <span>Salir</span>
    </div>


</nav>