nav
  background: #19324b
  display: grid
  grid-template-columns: repeat(5, max-content) auto
  font-family: "Bebas Neue", cursive


img
  max-width: 5vw
  padding: 15px


.nav-item
  display: flex
  flex-direction: column
  justify-content: flex-end
  padding: 13px 10px
  font-size: 2.5em
  color: white
  &:hover
    cursor: pointer
    background: #1f3246
  &:after
    display: block
    content: ''
    border-bottom: solid 5px #019fb6
    transform: scaleX(0)
    transition: transform 250ms ease-in-out
  &:hover:after
    transform: scaleX(1)

.last
  margin-right: 15px
  justify-self: end


.user
  display: flex
  flex-direction: row
  align-items: center
  color: #CC3B5A
  font-size: 2em
  margin: 10px
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
  & > span
    margin-left: 10px

.vl
  width: 2px
  background-color: white
  height: 45%
  margin: 10px
  background-color: #e2e2e2
