<p-card [styleClass]="'mycard'">
  <p-header>

    <img [src]="'assets/img/logo.png'" alt="">
  </p-header>
  <form action="" [formGroup]="loginForm">
    <div class="p-grid p-align-center">
      <div class="p-col-12">
        <div class="ui-inputgroup">
          <span class="ui-inputgroup-addon"><i class="pi pi-user"></i></span>
          <input type="text" pInputText placeholder="Correo" formControlName="email">
        </div>
      </div>
      <div class="p-col-12">
        <div class="ui-inputgroup">
          <span class="ui-inputgroup-addon"><i class="pi pi-lock"></i></span>
          <input type="password" pInputText placeholder="Contraseña" formControlName="password">
        </div>
      </div>
      <div class="p-col">
        <p-button label="Entrar" (click)="login()"></p-button>
        <p-messages [(value)]="msgs"></p-messages>
      </div>

      <div class="p-col-12" fxLayoutAlign="center">
        ¿Aún no tienes una cuenta?&nbsp;<a [routerLink]="['/register']"> Registrate</a>
      </div>

    </div>

  </form>

</p-card>