
:host
  ::ng-deep

    .ui-button,.ui-button-text
      background: #cc3b5a
      :hover
        background: #ee5375
    p-button
        display: flex
        flex-direction: column


    p-header
        display: flex
        justify-content: center
    img
      max-width: 65%
      padding: 5% 0

    .mycard

      //background: rgb(255,216,104)
      //background: linear-gradient(5deg, rgba(255,216,104,1) 0%, rgba(78,78,78,1) 100%)
      max-width: 20vw
      margin: auto
      margin-top: 20vh

input
  width: 100%